* {
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
}

ul {
  padding: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  margin: none;
}

body {
  text-align: center;
  position: relative;;
  background: url("../background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.red {
  color: red;
  font-weight: bold;
  font-size: 28px;
}
