.review_list_item {
    display: inline-block;
    border: 7px solid transparent;
    padding: .5rem;
    border-radius: 25%;
    border-image-slice: 5;
    margin-bottom: 25px;
    max-width: 250px;
    height: auto;
    border-image-source: linear-gradient(to left, rgb(217, 0, 255) 0%, rgb(203, 184, 255) 100%); 
}

.review_list_item:hover {
    opacity: 0.5;
}

.review_title {
    font-weight: bold;
    font-size: 28px;
}
@media only screen and (min-width: 700px) {
    .review_list_item {
        margin: 30px;
    }
}